@media (min-width: 992px) {
    .contact-buttons {
        text-align: right;
        margin-top: 10px;
    }

    .contact-icon {
        font-size: 1.75em;
        padding-left: 20px;
    }
}

@media (max-width: 992px) {
    .contact-buttons {
        text-align: left;
    }

    .contact-icon {
        font-size: 1.75em;
        padding-right: 20px;
    }
}

@media print {
    .contact-buttons {
        text-align: left;
    }

    .contact-icon {
        font-size: 1.75em;
        padding-right: 20px;
    }
    
    .no-print, .no-print * {
        display: none !important;
    }
}

body {
    margin-bottom: 12px;
}

.inch-margin {
    margin-top: 1in;
}

.skills table {
    border-collapse: collapse;
}

.skills table th, .skills table td {
    padding: 0px 
}

.cover p {
    font-size: 14pt;
}

.resume-section-title {
    font-size: 1.25rem;
    padding-bottom: 10px;
}

.resume-position-time {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: "";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 8px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: "";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
